body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  padding: 12px;
  min-width: 320px;
  font-size: 15px;
  /* On utilise bg-body et text-body dans HTML */
}

.title h1 {
  font-size: 1.5rem; /* équivalent ~20px */
  line-height: 1.2;
}

.title img {
  width: 56px;
  height: 56px;
}